dickinson_schema.rnc

# # # # # # #
#  Metadata #
# # # # # # #
start = poem 
poem = element poem { metadata, body } 
metadata = element metadata { title, date, poem_number, source, recipient } # cng: Should we open up the recipient to allow more than one? Some of the poems are to two people but joined with 
                                                                            # an "and" (I am not sure if it means they were a couple and received the poem together in a letter or what...)
title = element title { text } # cng: maybe change this to "first_line" because her poems are usually untitled and the first line is used for ease 
date = element date { xsd:int } # cng: you can use { xsd:gYear } to constrain the date since all that is ever specified is the 4-digit year (also could maybe call it year instead of date? idk
# cng: we should also mark if the poem is early, middle, or late period - maybe <period type="early"> (something other than the word type may be better)
poem_number = element poem_number { text } # cng: I would just call this element "number" (more concise)
source = element source { text }
recipient = element recipient { text } # cng: are we saying that every doc will have a recipient and then for the poems that do not have one we will just enter "none"?

# # # # #
#  Body #
# # # # #
body = element body { stanza+ }
stanza = element stanza { line+ }
line = element line { mixed 
    { (  elision | possible_word | character | action | emotion | judgment
    | animal | place | nature )* } }


# # # # # # # # # #
#  Inline content #
# # # # # # # # # #

elision = element elision { elision_type, elided_content } 
elision_type = attribute elision_type { "nominal" | "verbal" | "clausal" } # @Caroline, is this good? feel free to edit based on your knowledge cng: I will edit this once I get confirmation!
elided_content = attribute elided_content { text } # to mark up "what is being elided" ... maybe could be more specific 

possible_word = element possible_word { text } # could there be a more precise name for this element? cng: variant or variation would be appropriate - we could keep the variants in line and 
                                                                                                      # just tag them as such
# i mean parts of a poem like where a word is shown in superscript on the archive websites, indicating that multiple possible words could be used

character = element character { name, human, role } 
name = attribute name { text }
human = attribute human { "yes" | "no" } # because many of the characters included are personifications of nature, or animals, etc. # cng: couldn't we tag as animal then instead of not human?
                                         # cng: this is semi challenging because she personifies a lot of things (not sure if those things would count as "characters" or not) 
role = attribute role { text } # could be profession, or relationship (cng: I like this!)

action = element action { type, judgment, text }
type = attribute type { text } # narrow this down maybe? i made some type subgroups for other attributes but idk if it fits w everything
judgment = attribute judgment { "positive" | "negative" | "ambiguous" | "neutral" }
    # cng: i think that the "judgment" attribute could be applied in more places - like even when she's talking about religion, war, love, etc (viewing these things in a certain way)

emotion = element emotion { emotion_type, judgment, text } 
emotion_type = attribute emotion_type { text }

animal = element animal { animal_type, text }
animal_type = attribute animal_type { "insect" | "bird" | "pet" } # could be expanded! 

place = element place { place_type, text } 
place_type = attribute place_type { text } # maybe make this more specific? but there are many different place types so idk. like houses, nature, etc.
# there could be overlap with other elements so i'm leaving it vague for now

nature = element nature { type, text } # include nature_type element? not sure yet 
# also dickinson talks a lot about like seasons, and so on, not sure if this falls into nature, and if it does, how to include it in markup? 
# cng: maybe this would be like "the natural" (so then seasons would be included)

# # # # # #
#  To Do  #
# # # # # #

# NOTE OTHER POSSIBLE THEMES / IMAGERY FOR MARKUP HERE:  
     # love, death, memory (definitely these!)
     # cng: war 
     # cng: religion / religious words/themes (really big one for Dickinson, often criticizes organized religion)
     # cng: not sure what name to use but she often references writing/verse/prose (that might come up in some of our poems)
     # cng: the mind/intellect
     # cng: also not sure what exactly to call this but world events or allusions? one of the late period poems talks about Lexington (as in the battle) 
# cng: I saw that one of the poems from the early period had italicized words because those words were underlined in the original copy, so we will need to mark emphasis
# Include more elements for analyzing linguistic features (syntax, maybe - Caroline this might depend on you) 
# include TEI-inspired elements and attributes for rhyme, meter? idk how much we want to look for this...
    # cng: I think it would be okay to not focus on these aspects of her poetry (since they're not really related to our research q)
# Maybe make some of the attributes for these elements optional, because they could get redundant typing them each time    cng: yeah that could be good  