dickinson_schema.rnc

# # # # # # #
#  Metadata #
# # # # # # #
start = poem 
poem = element poem { metadata, body } 
metadata = element metadata { title, date, poem_number, source, recipient }                                                                         
title = element title { text } # cng: maybe change this to "first_line" because her poems are usually untitled and the first line is used for ease 
date = element date { xsd:gYear, period } 
period = attribute period { "early" | "middle" | "late" } 
poem_number = element poem_number { text } # rw: I am keeping it as "poem_number" because "number" could get mixed up with numbering the lines
source = element source { text }
recipient = element recipient { text } 
# write "none" for ones that don't have a recipient, 
#and then for multiple recipients just wrote how they appear on the archive (ex: <recipient>Louise and Frances Norcross</recipient>

# # # # #
#  Body #
# # # # #
body = element body { stanza+ }
stanza = element stanza { line+ }
line = element line { mixed 
    { (  elision | variant | character | action | emotion | judgment
    | animal | place | nature | love | death | memory | time 
    | war | religion | writing | intellect | allusion )* } }


# # # # # # # # # #
#  Inline content #
# # # # # # # # # #

elision = element elision { elision_type, elided_content } 
elision_type = attribute elision_type { "nominal" | "verbal" | "clausal" } # cng: I will edit this once I get confirmation!
elided_content = attribute elided_content { text } # to mark up "what is being elided" ... maybe could be more specific 

variant = element variant { text } 
# this refers to the parts of a poem like where a word is shown in superscript on the archive websites, indicating that multiple possible words could be used

character = element character { name, character_type*, role* }
name = attribute name { text }
character_type = attribute character_type { "human" | "animal" | "personification" } # expand? 
role = attribute role { text } # could be profession, or relationship 

action = element action { type, judgment, text }
type = attribute type { text } # narrow this down maybe? i made some type subgroups for other attributes but idk if it fits w everything
judgment = attribute judgment { "positive" | "negative" | "ambiguous" | "neutral" }
    # this judgment attribute can be used with multiple elements (emotion, love, war, death, etc) 

emotion = element emotion { emotion_type, judgment, text } 
emotion_type = attribute emotion_type { text }

animal = element animal { animal_type, text }
animal_type = attribute animal_type { "insect" | "bird" | "pet" } # could be expanded! 

place = element place { place_type, text } 
place_type = attribute place_type { text } # maybe make this more specific? but there are many different place types so idk. like houses, nature, etc.
# there could be overlap with other elements so i'm leaving it vague for now

nature = element nature { type, text } # include nature_type element? not sure yet 
# also dickinson talks a lot about like seasons, and so on, not sure if this falls into nature, and if it does, how to include it in markup? 
# cng: maybe this would be like "the natural" (so then seasons would be included)

love = element love { love_type, judgment, text } 
love_type = attribute love_type { "familial" | "platonic" | "romantic" | "admiration" } 
# by admiration, I mean love for things that may not be human, like admiring a pet, or parts of nature...maybe there's a better word? 

death = element death { judgment, text } # could be expanded, a lot of these could be expanded

memory = element memory { judgment, text } 

time = element time { duration, text } 
duration = attribute duration { text } # could be years, months, seconds, etc. 

war = element war { judgment, text }
# the poem that talks about Lexington could be put here

religion = element religion { judgment, text } # religious words or themes 

writing = element writing { text } #references to writing/verse/prose within the poems themselves

intellect = element intellect { text } 

allusion = element allusion { to, text } 
to = attribute to { text } # allusion "to" war, historical events, etc. 

# # # # # #
#  To Do  #
# # # # # #

# NOTE OTHER POSSIBLE THEMES / IMAGERY FOR MARKUP HERE:  
# we can make emphasis with <em> ? not totally sure
# Include more elements for analyzing linguistic features (syntax, maybe - Caroline this might depend on you) 
# Maybe make some of the attributes for these elements optional, because they could get redundant typing them each time    cng: yeah that could be good  